body {
    margin: 0%;
    background-color: cornflowerblue;
	color: white;
}
#form-container{
	display: flex;
	flex-direction: column;
	width: 99vw;
	justify-content: center;
	align-items: center;
}
#menu-form{
	display: flex;
	flex-direction: column;
	width: 50vw;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
	margin-top: 2em;
}
#restaurant-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-decoration: none;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	width: 99vw;
    justify-content: center;
    /* padding: 2em; */
}
.restaurant-card {
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	padding: 5em;
	flex-wrap: wrap;
    width: 21vw;
	text-align: center;
	justify-content: center;
    /* margin: auto; */
}
.restaurant-card a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin: auto;
	margin-bottom: 20px;
}
.menu-button {
	margin: auto;
	margin-top: 15px;
	padding: 10px;
}
#search-container {
    width: 99vw;
    height: 25vh;
	justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 2em;
}
#search-bar {
	margin-bottom: 2em;
}
#save-btn{
	margin-top: 2em;
}
#edit-form{
	display: flex;
	flex-direction: column;
}